@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);

  --ff-main: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

picture,
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}

body {
  font-size: 32px;
  font-family: var(--ff-main);
  color: var(--color-off-black);
  background-color: var(--color-off-white);
  min-height: 100vh;
  display: grid;
  align-content: center;
}

/* ----- Custom classes ----- */
.hiding {
  animation: opacity 0.35s linear forwards reverse;
}

.hide {
  display: none;
}

.showing {
  animation: opacity 0.35s linear forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate {
  display: inline-block;
  animation: rotate 0.5s ease-out;
}

@keyframes rotate {
  0% {
    opacity: 0;
  }

  25% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(100deg);
  }

  100% {
    opacity: 1;
  }
}

/* ----- Main ----- */
main {
  margin-inline: 1rem;
}

.card {
  padding: 0.75em;
  border-radius: 0.5em 0.5em 3em;
  background-color: var(--color-white);
}

.card hr {
  border: 1px solid var(--color-off-white);
}

.birth {
  position: relative;
  margin-bottom: 3rem;
}

.birth fieldset {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  border: none;
}

.birth legend {
  display: none;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 0.6rem;
  color: var(--color-smokey-grey);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.field label.invalid {
  color: var(--color-light-red);
}

.field input {
  font-size: 0.95rem;
  font-weight: 700;
  padding: 0.75em;
  border: 1px solid var(--color-light-grey);
  border-radius: 0.5em;
  width: clamp(4rem, 20vw, 6rem);
}

.field input.invalid {
  border-color: var(--color-light-red);
}

.field span {
  font-size: 0.5rem;
  font-weight: 400;
  font-style: italic;
  color: var(--color-light-red);
  margin-top: 0.5rem;
}

.field .hidden {
  display: none;
}

.submit {
  cursor: pointer;
  position: absolute;
  bottom: -5rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  background-color: var(--color-purple);

  width: 4rem;
  height: 4rem;
}

.submit:hover,
.submit:focus {
  outline: 2px solid var(--color-purple);
  outline-offset: 1px;
}

.submit.click {
  animation: click 0.15s linear;
}

@keyframes click {
  100% {
    background-color: var(--color-off-black);
  }
}

.submit svg {
  display: block;
  margin: auto;
  max-width: 2.25em;
  max-height: 2.25em;
}

.result {
  margin-top: 3rem;
}

.result p {
  font-size: clamp(2rem, 5vw + 0.5rem, 2.75rem);
  font-weight: 800;
  font-style: italic;
}

.years,
.months,
.days {
  color: var(--color-purple);
}

/* ----- Footer ----- */
footer {
  width: fit-content;
  margin-top: 1rem;
  margin-inline: auto;
  color: var(--color-very-dark-blue);
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 64%);
}

.attribution a:visited {
  color: hsl(270, 100%, 70%);
}

/* ----- Desktop 700px ----- */
@media (min-width: 43.75em) {
  .card {
    padding: 1em;
    margin: auto;
    max-width: 30rem;
  }

  .birth fieldset {
    justify-content: revert;
    gap: 0.5em;
  }

  .submit {
    left: revert;
    right: 0;
    margin-inline: revert;
  }
}

/* ----- Desktop 1280px ----- */
@media (min-width: 80em) {
  footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-top: revert;
  }
}
